
html {
    margin: 0;
}

body {
    background-color: darkslateblue;
}

.canvas {
    margin: 100px auto 100px;
    width: 90%;
    text-align: center;
    background-color: blanchedalmond;
    border: solid black 2px;
    border-radius: 20px;
}

.button {
    width: 75px;
    margin: auto 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

#number {
    font-size: 100px;
    margin-top: 30px;
}

#input {
    margin: 30px auto;
}