
html {
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: lightblue;
}

.canvas {
    margin: 50px auto 50px;
    width: 80%;
    text-align: center;
}

.container {
    margin: 50px auto 50px;
    width: 80%;
}

#author {
    text-align: right;
    padding-right: 100px;
}